.cell {
  border-width: 1px;
  width: 1.25em;
  font-family: "Lucida Console", "Courier New", monospace;
  display: flex;
  align-content: center;
  aspect-ratio: 1/1;
  color: red;
  border-color: white;
}

.topLeft {
  border-left-style: none;
  border-top-style: none;
  border-right-style: solid;
  border-bottom-style: solid;
}

.top {
  border-left-style: solid;
  border-top-style: none;
  border-right-style: solid;
  border-bottom-style: solid;
}

.topRight {
  border-left-style: solid;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: solid;
}

.right {
  border-left-style: solid;
  border-top-style: solid;
  border-right-style: none;
  border-bottom-style: solid;
}

.left {
  border-left-style: none;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
}

.bottomLeft {
  border-left-style: none;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: none;
}
.bottom {
  border-left-style: solid;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: none;
}
.bottomRight {
  border-left-style: solid;
  border-top-style: solid;
  border-right-style: none;
  border-bottom-style: none;
}

.middle {
  border-left-style: solid;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
}

.cellContent {
  margin: auto;
}
