.container {
  border-width: 1px;
  font-family: "Lucida Console", "Courier New", monospace;
  align-content: center;
  border-color: white;
  border-width: 1px;
  border-style: solid;
  color: white;
  width: 100%;
}

.top{
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  border-bottom: white solid 1px;
}

.bottom{

}

.summary {
  align-self: flex-start;
  max-width: 8em;
  padding: .5em;
  border-right: white solid 1px;
}

.summary h1 {
  font-size: 1.5em;
}

.descriptionContainer {
  display: flex;
  padding: .5em;
  order: 2;
  flex-grow: 1;
  width: inherit;
}

.descriptionBody {
  width: -moz-available;          /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
  width: fill-available;
  word-wrap: break-word;

}

.location {
  order:3;
  flex-grow: 1;
  align-self: stretch; 
}

.date {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-top: white 1px dashed;
  margin-top: 1em;
  padding-top: 1em;
}
