.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  border-width: 1px;
  border-style: solid;
  border-color:red;
  width: 75%;
  margin: auto;
  margin-top: 1.5vh;
  max-width: 50em;
  min-width: 15em;
  gap: 1em;
}
