.mapContainer {
  width: 100%;
  height: 100%;
}

.mapbox-logo{
  display: none !important;
}

.mapbox-improve-map{
  display: none !important;
}

.mapContainer .mapboxgl-ctrl-attrib-inner{
  display: none;
}
